@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Raleway", sans-serif;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.hero-section-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 698px;
}
.hero-section-wrapper header .header-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 51.5px 0;
}
.hero-section-wrapper header .header-inner .logo-wrapper a {
  color: #4E47FF;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  font-size: 34px;
  font-weight: 900;
}
.hero-section-wrapper header .header-inner .signup-wrapper a {
  display: block;
  width: fit-content;
  background-color: #4E47FF;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 14.5px 36px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.hero-section-wrapper header .header-inner .signup-wrapper a:hover {
  background-color: #EABE3A;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
}
.hero-section-wrapper .banner-content-wrapper {
  padding-top: 165px;
  text-align: center;
}
.hero-section-wrapper .banner-content-wrapper .banner-content-inner h1 {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  margin: 0;
}
.hero-section-wrapper .banner-content-wrapper .link-wrapper {
  margin-top: 30px;
}
.hero-section-wrapper .banner-content-wrapper .link-wrapper a {
  display: block;
  width: fit-content;
  margin: 0 auto;
  background-color: #4E47FF;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 14.5px 36px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.hero-section-wrapper .banner-content-wrapper .link-wrapper a:hover {
  background-color: #EABE3A;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
}

.action-section {
  padding: 100px 0;
}
.action-section .action-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.action-section .action-inner .left-content h2 {
  color: #252432;
  font-size: 42px;
  font-weight: bold;
  margin: 0;
}
.action-section .action-inner .left-content p {
  margin-top: 0;
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
}
.action-section .action-inner .left-content .link-wrapper a {
  display: block;
  width: fit-content;
  background-color: #4E47FF;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 14.5px 36px;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.action-section .action-inner .left-content .link-wrapper a:hover {
  background-color: #EABE3A;
  box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.1);
}
.action-section .action-inner .right-image {
  max-width: 403px;
  height: 328px;
  border-radius: 48px;
  overflow: hidden;
}
.action-section .action-inner .right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*# sourceMappingURL=style.css.map */
